/*-------------------------Title-------------------------*/
#titleDiv{
	background-color: #43BFC7;
}

#titleHead{
	text-align: center;
	font-size: 1.5em;
}

#topSection{
	margin: auto;
	max-width: 1000px;
}

/*-------------------------Game board-------------------------*/
#gameBoard{
	float: left;
	width: 350px;
	vertical-align: top;
}

#house{
	border-spacing: 0px;
	margin-left: 10px;
	border: solid brown 5px;
}

.rooms{
	border: solid black 1px;
	padding: 10;
	text-align: center;
}

/*-------------------------Game board buttons-------------------------*/
#butDiv{
	margin-top:5px;
	margin-left: 35px;
}

.navButtons{
	text-align: center;
	margin-bottom: 3px;
}

#navButDiv{
	float: left;
	vertical-align: top;
}

#upButton{
	margin-left: 33px;
}

#lfButton{
	margin-left: 5px;
}

#rtButton{
	margin-left: 1px;
}

#dnButton{
	margin-left: 23px;
}

#actButDiv{
	float: left;
	vertical-align: top;
	margin-left: 40px;
}

#actButton{
	margin-top: 10px;
}

#leaveButton{
	margin-top: 10px;
}

/*-------------------------Game Element Buttons-------------------------*/
#gameButtons{
	float: left;
	width: 100px;
	vertical-align: top;
}

#startButton{
	margin: auto; 
	margin-top: 50px;
}

#instrButton{
	margin: auto; 
	margin-top: 10px;
}

#hintButton{
	
	margin-left: 18px;
	margin-top: 10px;
}

/*-------------------------Player Status-------------------------*/
#statDiv{
	float: left;
	vertical-align: top;
	border: dashed 2px;
	width: 450px;
	background-color: silver;
	margin-left: 20px;
	margin-bottom: 5px;
}

.packItems{
	width: 100px;
	margin-left: 15px;
}

#parTime{
	margin-left: 5px;
}

.checklist{
	list-style-type: none;
	float: left;
}

#clClrButton{
	margin-top:5px;
}

/* -------------------------Insructions-------------------------*/
#instrDiv{
	clear: left;
	margin-top: 20px;
	border: dashed 1px;
	max-width: 1000px;
	margin: auto;
	background-color: #E77471;
}

.instructions{
	padding-left: 5px;
	padding-right: 5px;
}

.closeButton{
	text-align: center;
	margin-left: 5px;
	margin-bottom: 5px;
}

/* -------------------------Hints-------------------------*/
#hintDiv{
	margin-top: 10px;
	clear: left;
	border: dashed 1px;
	max-width: 1000px;
	margin: auto;
	margin-top: 20px;
	background-color: #C8A2C8;
}

/* -------------------------Message Aarea-------------------------*/
#bottomSection{
	clear: left;
	max-width: 1000px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
}

#msgDiv{
	float: left;
	vertical-align: top;
	border: dotted 1px;
	background-color: #99C68E;
	width: 400px;
}

#msgHead{
	margin-left: 5px;
}

#msgPar{
	padding: 5px;
}

#msgParCom{
	padding: 5px;
}

/* -------------------------Puzzle-------------------------*/
#puzzleDiv{
	float: left;
	vertical-align: top;
	background-color: #F9966B;
	border: solid gray 1px;
	margin-left: 5px;
	width: 250px; 
}

#puzHead{
	margin-left: 5px;
}

#puzGuess{
	margin-left: 5px;
}

#submitButton{
	margin-left: 20px;
}

#puzFB{
	margin-left: 5px;
	}
	
#exitButton{
	margin-left: 5px;
}

/* -------------------------Cabinet-------------------------*/
#itemDiv{
	float: left;
	vertical-align: top;
	background-color: #FFE5B4;
	border: solid gray 1px;
	margin-left: 5px;
	width: 330px;
}

#cabHead{
	margin-left: 5px;
}

#cabPar{
	margin-left: 5px;
}

.cabItems{
	margin-left: 3px;
}

#questPar{
	margin-left: 5px;
}

#yesButton{
	margin-left: 5px;
}

#closeButton{
	margin-left: 20px;
}

#addPar{
	margin-left: 5px;
}

.packItems{
	margin-left: 7px;
}

#packButton{
	margin-left: 20px;
	margin-bottom: 5px;
}